[submodule "media-server"]
	path = 3rdpart/media-server
	url = https://gitee.com/ireader/media-server.git
	branch = master

[submodule "ireader-sdk"]
	path = 3rdpart/ireader-sdk
	url = https://gitee.com/ireader/sdk.git
	branch = master
[submodule "tinyxml2"]
	path = 3rdpart/tinyxml2
	url = https://gitee.com/mirrors/tinyxml2.git
	branch = master
